.users-container {
  height: 50%;
  width: 33%;
  min-width: 400px;
  margin: 5px auto;
}
.user-header {
  display: flex;
  justify-content: center;
}

.user-border {
  border: 1px solid #d3d3d3;
  margin: 15px 0;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
} 