.App {
  font-family: sans-serif;
  text-align: center;
}

a {
  transition-duration: 0.24s ease-in-out;
  padding-right: 1%;
  padding-left: 1%;
  padding-bottom: 1%;
  padding-top: 1%;
  margin-right: 2%;
  line-height: 1.7em;
  border-radius: 12%;
  text-decoration: none;
  text-transform: uppercase;
  border: 1px solid green;
}

nav {
  color: rgb(194, 128, 194);
  padding: 0;
  text-align: center;
}

nav a:hover {
  background-color: purple;
  color: white;
}
